* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/*############################################################NAV###############################################################*/
.nav-wrapper {
  background-color: #23374b;
}

#nav-li:hover {
  text-decoration: underline;
}

.nav-wrapper > li:hover {
  text-decoration: underline;
}

.brand-logo {
  font-family: "Nunito", sans-serif;
  margin: 10px;
}

.btn {
  background-color: #226fbb;
  border-radius: 20px;
  text-transform: none;
}

.btn:hover {
  background-color: #1089ff;
}

/*###########################################################SLIDER#############################################################*/

#slider-row {
  background-color: #e2e2e2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  display: flex;
  position: relative;
}

#slides-container {
  width: 40%;
  justify-self: center;
  margin: auto;
}

.mySlider-slides {
  width: 100%;
  display: flex;
  position: relative;
}

.slider-img {
  max-width: 100%;
  height: auto;
  padding: 5%;
  border-radius: 50px;
  touch-action: pan-y;
}

#prevBtn {
  height: 100%;
  width: 33%;
  position: absolute;
  left: 0;
  cursor: pointer;
  z-index: 10;
}

#nextBtn {
  height: 100%;
  width: 30%;
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 10;
}

.title {
  position: absolute;
  left: 33%;
  width: 33%;
  text-align: center;
  color: #707070;
  font-size: 1.5vw;
}

/*############################################################BODY##############################################################*/

#slogan {
  font-size: 3vw;
  color: #226fbb;
}

#icon-container {
  display: flex;
  justify-content: space-between;
}

.icon-div {
  border-radius: 30%;
  width: 16%;
  height: auto;
  background-color: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

/*############################################################GAL###############################################################*/

#gal-container {
  width: 90%;
  color: #707070;
}

#icons:visited {
  color: black;
}

.gallery-col {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.gal-img {
  width: 100%;
  height: auto;
  padding: 1%;
  margin-bottom: 5%;
  cursor: pointer;
}

.gal-img:hover {
  opacity: 0.7;
}

/* label focus color */
.input-field input:focus + label {
  color: #226fbb !important;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #226fbb !important;
}

/*#########################################################MODAL###############################################################*/

.myModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .8);
  z-index: 20;
  display: none;
}

.close {
  color: #e2e2e2;
  margin-right: 1%;
  font-size: 3vw;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.myCard {
  width: 80%;
  height: auto;
  background-color: #e2e2e2;
  border-radius: 1%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: space-around;
  
}

.modal-img {
  width: 100%;
  height: auto;
  padding: 1%;
  margin: auto;
}

.card-content {
  width: 100%;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.myCard {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

#modal-container{
  display: flex;
}

/*#########################################################FORM###############################################################*/
.myForm{
  width: 65%;
}
[type="radio"]:checked + span:after,
 
[type="radio"].with-gap:checked + span:before,
 
[type="radio"].with-gap:checked + span:after {
 
  border: 2px solid #226fbb;
 
} 
[type="radio"]:checked + span:after,
 
[type="radio"].with-gap:checked + span:after {
 
  background-color: #226fbb;
 
}

.datepicker-date-display {
  
  background-color:#23374b!important;
 
}
.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: #1089ff;

}
.datepicker-day-button:focus {
  background-color:#226fbb;
}
.datepicker-table td.is-selected {
  background-color: #226fbb;

}